* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

a,
a:visited {
  color: black;
  text-decoration: none; }

b, em,
strong {
  color: #7aad3f; }

a:hover {
  text-decoration: underline; }

body {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased; }

h4 {
  font-size: 16px;
  color: #7aad3f;
  padding-bottom: 10px; }

h2, h1, h2, h3, h4,
.stats-text,
#block-views-random-stats-block,
.views-field-title,
.title-text,
.field-label {
  font-family: "cubano",sans-serif;
  font-weight: 300 !important; }

.node-full-calendar a {
  color: #7aad3f !important; }

.view-events-block strong {
  color: white; }

h3 {
  margin-bottom: 10px;
  font-size: 36px;
  color: #7aad3f; }

h2.element-invisible {
  display: none; }

.views-field-title,
.title-text {
  color: #7aad3f;
  font-size: 18px; }

ol {
  margin-left: 30px; }

.rteindent1 {
  margin-left: 10px; }

span {
  line-height: 1.2em; }

p {
  line-height: 1.5em;
  padding-bottom: 10px; }

#main-navigation {
  float: right;
  overflow: visible;
  padding-top: 30px; }
  #main-navigation ul.menu {
    float: left;
    padding-left: 0px; }
    #main-navigation ul.menu li {
      list-style: none;
      float: left;
      margin: 0;
      padding: 0; }
      #main-navigation ul.menu li:after {
        content: url("../images/slash.png");
        padding-left: 10px;
        display: inline-block; }
    #main-navigation ul.menu a {
      color: black;
      line-height: 40px;
      padding: 50px 0px;
      text-align: center;
      font-size: 14px;
      vertical-align: bottom;
      text-transform: uppercase;
      font-style: italic;
      text-shadow: none;
      font-weight: 600; }
      #main-navigation ul.menu a:hover, #main-navigation ul.menu a.active {
        color: #7aad3f;
        text-decoration: none; }
  #main-navigation .social-icons {
    float: left;
    overflow: hidden;
    padding-top: 10px;
    line-height: 40px;
    vertical-align: middle; }
    #main-navigation .social-icons p {
      line-height: inherit; }
  #main-navigation li.expanded {
    position: relative; }
    #main-navigation li.expanded ul.menu {
      position: absolute;
      width: 200px;
      background: white;
      top: 73px;
      display: none; }
      #main-navigation li.expanded ul.menu li {
        float: none; }
        #main-navigation li.expanded ul.menu li:after {
          display: none; }
        #main-navigation li.expanded ul.menu li a {
          border-bottom: 1px solid #ccc;
          line-height: 1em;
          padding: 15px 10px;
          display: block;
          text-align: left; }
    #main-navigation li.expanded:hover > ul.menu {
      display: block; }

#banner {
  position: relative;
  padding-top: 118px; }

#header {
  border-bottom: 5px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 99999;
  position: fixed;
  width: 100%;
  background: white; }

.region-header {
  padding: 20px 20px; }
  .region-header p {
    padding-bottom: 0px; }

.clearfix:after {
  height: auto; }

#block-block-1 {
  float: left; }

#block-block-2 {
  float: right;
  width: 80px;
  padding-top: 40px; }
  #block-block-2 img {
    padding-right: 10px; }

.view-header-slider {
  position: relative;
  overflow: hidden;
  border-bottom: 5px solid #7aad3f; }
  .view-header-slider .view-content {
    position: relative;
    overflow: hidden; }
  .view-header-slider .views-row {
    min-height: 650px;
    overflow: hidden;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -ms-behavior: url("/sites/all/themes/empowerplay/css/backgroundsize.min.htc"); }
  .view-header-slider .view-header,
  .view-header-slider .view-footer {
    position: absolute;
    top: 50%;
    z-index: 99;
    color: transparent;
    font-size: 0px; }
    .view-header-slider .view-header a,
    .view-header-slider .view-footer a {
      display: block;
      height: 70px;
      width: 70px; }
  .view-header-slider .view-header {
    left: 20px;
    background: url("../images/left-arrow.png") no-repeat; }
  .view-header-slider .view-footer {
    right: 20px;
    background: url("../images/right-arrow.png") no-repeat; }
  .view-header-slider ul.indicators {
    z-index: 9999;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding-left: 0px; }
    .view-header-slider ul.indicators li.active {
      background-image: url("../images/green-indicator.png"); }
    .view-header-slider ul.indicators li {
      width: 5px;
      height: 30px;
      color: transparent;
      font-size: 0;
      background-image: url("../images/black-indicator.png");
      background-position: center center;
      padding: 10px;
      background-repeat: no-repeat;
      display: inline-block;
      opacity: 1;
      cursor: pointer; }
  .view-header-slider .views-row-2 {
    background-image: url("../images/hockey-header-bg.png"); }
    .view-header-slider .views-row-2 .views-field-body h4 {
      font-size: 28px;
      max-width: 600px; }
  .view-header-slider .views-row-1 {
    background-image: url("../images/headerimage2.jpg"); }
  .view-header-slider .views-row-3 {
    background-image: url("../images/banner-bg.png"); }
    .view-header-slider .views-row-3 .views-field-body h2 {
      color: #7aad3f;
      font-size: 72px; }
    .view-header-slider .views-row-3 .views-field-body h3 {
      color: black; }
      .view-header-slider .views-row-3 .views-field-body h3 a {
        color: #7aad3f; }
  .view-header-slider .views-field-title {
    font-size: 0px;
    color: transparent; }
  .view-header-slider .views-field-body {
    position: absolute;
    z-index: 99;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    left: 22% \9;
    top: 25% \9;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .view-header-slider .views-field-body h2 {
      color: white;
      font-size: 88px; }

.green {
  color: #7aad3f; }

a.green-button,
.webform-submit {
  cursor: pointer;
  background-color: #8cc14f;
  display: block;
  color: white;
  max-width: 150px;
  font-weight: 300 !important;
  text-decoration: none !important;
  margin: 0 auto;
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px 20px 8px;
  border-radius: 5px;
  margin-top: 20px;
  font-style: italic;
  text-shadow: none;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-appearance: none; }

.front #content {
  display: none; }

.node-type-testimonials #page-title {
  display: none; }
.node-type-testimonials .field-name-body {
  float: left;
  width: 73%; }
.node-type-testimonials .field-name-field-name .field-label,
.node-type-testimonials .field-name-field-name .field-items,
.node-type-testimonials .field-name-field-age .field-label,
.node-type-testimonials .field-name-field-age .field-items,
.node-type-testimonials .field-name-field-profession .field-label,
.node-type-testimonials .field-name-field-profession .field-items {
  display: inline-block; }
.node-type-testimonials h4 {
  padding-top: 10px;
  padding-bottom: 10px; }
.node-type-testimonials .field {
  padding-bottom: 20px; }

#black-region,
#content {
  background-image: url("../images/main_back.png");
  -ms-behavior: url("/sites/all/themes/empowerplay/css/backgroundsize.min.htc");
  background-size: cover;
  overflow: hidden;
  position: relative; }

#content {
  border-top: 5px solid #7aad3f; }
  #content:after {
    content: ""; }

.inner-content {
  max-width: 950px;
  margin: 0px auto;
  padding: 60px 10px 75px;
  background: url("../images/volleyball_net.png") no-repeat;
  background-position: center bottom; }
  .inner-content h1 {
    font-size: 82px;
    color: #7aad3f;
    line-height: 0.9;
    margin-bottom: 20px;
    color: #7aad3f; }
    .inner-content h1:after {
      content: url("../images/title-border.png");
      margin-top: -35px;
      display: block; }
  .inner-content h2 {
    font-size: 52px;
    margin-top: 20px; }
    .inner-content h2:after {
      margin-top: -10px; }
  .inner-content #page-title,
  .inner-content h2 {
    width: 100%;
    color: #7aad3f; }
  .inner-content a {
    color: #7aad3f; }
    .inner-content a:hover {
      text-decoration: underline; }
  .inner-content .field-label {
    color: #7aad3f; }

.region-black-region {
  max-width: 950px;
  margin: 0 auto;
  padding: 80px 20px 0px;
  margin-bottom: -3px; }

#block-views-stories-slider-block {
  background: black;
  color: #7aad3f;
  border-bottom: 1px solid #a5a5a5; }
  #block-views-stories-slider-block p {
    color: #7aad3f;
    font-weight: 600; }

.view-stories-slider {
  position: relative;
  overflow: hidden;
  margin-top: -1px; }
  .view-stories-slider .view-content {
    position: relative;
    overflow: hidden; }
  .view-stories-slider .link a {
    color: #7aad3f; }
  .view-stories-slider .indicators {
    display: none; }
  .view-stories-slider .body_slider {
    font-size: 24px; }
  .view-stories-slider .summary {
    max-width: 718px;
    margin: 70px auto;
    position: relative;
    padding: 20px 20px;
    border: 5px solid #5a8f00;
    -webkit-border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    background: #000 transparent;
    border-radius: 10px 10px 10px 0px; }
    .view-stories-slider .summary:before {
      content: "";
      position: absolute;
      bottom: -30px;
      left: -5px;
      border-top: 25px;
      border-right: 46px;
      border-bottom: 0px;
      border-left: 0px;
      border-style: solid;
      border-color: #5a8f00 transparent;
      display: block;
      width: 0;
      border-radius: 0px 0px 10px 10px; }
    .view-stories-slider .summary:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      border-top: 20px;
      border-right: 36px;
      border-left: 0px;
      border-bottom: 0px;
      border-style: solid;
      border-color: #000 transparent;
      display: block;
      width: 0; }
  .view-stories-slider .views-row {
    overflow: hidden;
    position: relative;
    float: left; }
  .view-stories-slider .view-header,
  .view-stories-slider .view-footer {
    position: absolute;
    top: 45%;
    z-index: 99;
    color: transparent;
    font-size: 0px; }
    .view-stories-slider .view-header a,
    .view-stories-slider .view-footer a {
      display: block;
      height: 30px;
      width: 30px; }
  .view-stories-slider .view-header {
    left: 15%;
    background: url("../images/stories_left_arrow.png") no-repeat; }
  .view-stories-slider .view-footer {
    right: 15%;
    background: url("../images/stories_right_arrow.png") no-repeat; }

#footer {
  overflow: hidden;
  position: relative; }

#footer-inner {
  max-width: 950px;
  margin: 75px auto;
  overflow: hidden;
  position: relative; }

#block-webform-client-block-6 {
  width: 70%; }
  #block-webform-client-block-6 .content {
    border-right: 1px solid #c5c5c5; }

#block-block-7 {
  width: 25%; }
  #block-block-7 p {
    text-shadow: none; }

#block-webform-client-block-6,
#block-block-7 {
  float: left;
  color: black; }
  #block-webform-client-block-6 .grippie,
  #block-block-7 .grippie {
    display: none; }
  #block-webform-client-block-6 h2,
  #block-block-7 h2 {
    font-size: 84px;
    color: #7aad3f; }
  #block-webform-client-block-6 input,
  #block-webform-client-block-6 textarea,
  #block-block-7 input,
  #block-block-7 textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
    font-size: 18px;
    resize: none; }
  #block-webform-client-block-6 textarea,
  #block-block-7 textarea {
    width: 94%;
    height: 100px; }
  #block-webform-client-block-6 .webform-submit,
  #block-block-7 .webform-submit {
    border: 0px;
    margin: 20px 0px;
    -webkit-appearance: none; }

.linkedin,
.facebook {
  float: left;
  color: transparent;
  font-size: 0px;
  height: 30px;
  width: 30px;
  padding-right: 5px; }
  .linkedin:after,
  .facebook:after {
    background: url(../images/twitter-green.png) no-repeat;
    background: url(../images/fb-green.png) no-repeat;
    position: absolute;
    left: -1000px; }

.linkedin {
  background: url(../images/EP-LinkedIn.png) no-repeat;
  background: none, url(../images/EP-LinkedIn.svg) no-repeat; }
  .linkedin:hover {
    background: url(../images/EP-LinkedIn.png) no-repeat; }

.facebook {
  background: url(../images/fb.png) no-repeat;
  background: none, url(../images/EP-Facebook.svg) no-repeat; }
  .facebook:hover {
    background: url(../images/fb-green.png) no-repeat; }

.social {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin: 20px 0px;
  overflow: hidden; }
  .social p {
    padding-bottom: 0px; }

.copyright {
  font-size: 12px;
  text-shadow: none; }

.field-name-field-image-stories,
.views-field-field-image-stories,
.image-list {
  width: 220px;
  height: 200px;
  border-radius: 125px;
  overflow: hidden;
  float: left;
  margin-right: 20px; }

.view-stories {
  overflow: hidden; }
  .view-stories .views-row {
    padding-bottom: 40px;
    overflow: hidden; }
  .view-stories .image-list {
    width: 90px;
    height: 90px;
    float: left; }
  .view-stories .info-box {
    float: left;
    width: 80%; }

.webform-component input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  font-family: 'Lato', sans-serif; }
.webform-component input:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 14px;
  font-family: 'Lato', sans-serif; }
.webform-component input::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 14px;
  font-family: 'Lato', sans-serif; }
.webform-component input:-ms-placeholder {
  font-style: italic;
  font-size: 14px;
  color: black;
  font-family: 'Lato', sans-serif; }

.page-events #colorbox #content {
  border-top: 0px; }
.page-events #colorbox .inner-content {
  text-align: center;
  color: #7aad3f;
  background: white;
  padding-top: 20px;
  padding-bottom: 0px; }
  .page-events #colorbox .inner-content #page-title:after {
    display: none; }
.page-events #colorbox .tabs {
  display: none; }

.ui-widget-content {
  background: #7aad3f;
  border-color: black; }

.fc-other-month {
  background: black !important; }

#error p {
  color: red; }

th.ui-widget-header {
  background: transparent;
  color: white;
  border: 0px;
  padding: 10px 0px; }

.front .inner-page-title {
  display: none; }

.fc-event-skin {
  background-color: black !important;
  border-color: black !important; }

#page-title-events {
  font-size: 60px;
  margin-bottom: 0px; }

.fc-button-agendaWeek,
.fc-button-agendaDay {
  display: none; }

.region-bottom-logos {
  max-width: 960px;
  margin: 40px auto; }

#bottom-logos {
  overflow: hidden;
  background: #f1f1f1;
  border-bottom: 1px solid #dbdbdb; }

.one-event #block-views-events-block-block .views-row {
  float: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-right: 0px; }

.webform-client-form-27 {
  position: relative;
  padding-bottom: 100px;
  max-width: 705px; }
  .webform-client-form-27 input {
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    border-radius: 3px;
    font-size: 18px;
    width: 93%;
    color: white; }
  .webform-client-form-27 hr {
    height: 3px;
    border: 0;
    background: url("../images/title-border.png");
    max-width: 600px;
    margin-bottom: 30px; }
  .webform-client-form-27 .form-item {
    margin-bottom: 0.5em; }
  .webform-client-form-27 fieldset {
    border: 0px;
    margin-top: 1em;
    margin-bottom: 0px;
    padding: 0px; }
  .webform-client-form-27 legend {
    color: #7aad3f;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "cubano",sans-serif; }
  .webform-client-form-27 .fieldset-wrapper > div {
    float: left;
    padding-right: 30px; }
  .webform-client-form-27 .fieldset-wrapper input {
    max-width: 300px; }
  .webform-client-form-27 .webform-component-radios {
    clear: left; }
    .webform-client-form-27 .webform-component-radios input {
      width: auto; }
  .webform-client-form-27 .webform-component--division-preference,
  .webform-client-form-27 .webform-component--payment-method {
    overflow: hidden; }
    .webform-client-form-27 .webform-component--division-preference > label,
    .webform-client-form-27 .webform-component--payment-method > label {
      color: #7aad3f; }
    .webform-client-form-27 .webform-component--division-preference div,
    .webform-client-form-27 .webform-component--payment-method div {
      float: left;
      padding-right: 20px; }
    .webform-client-form-27 .webform-component--division-preference .description,
    .webform-client-form-27 .webform-component--payment-method .description {
      float: none;
      clear: left; }
  .webform-client-form-27 #reg-online,
  .webform-client-form-27 #drop-off {
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 10px 0px; }
  .webform-client-form-27 input::-webkit-input-placeholder {
    font-size: 18px;
    color: white; }
  .webform-client-form-27 input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
    color: white; }
  .webform-client-form-27 input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
    color: white; }
  .webform-client-form-27 input:-ms-placeholder {
    font-size: 18px;
    color: white; }
  .webform-client-form-27 #reg-online {
    color: #7aad3f;
    padding-right: 30px; }
  .webform-client-form-27 .webform-component--drop-off-text {
    display: none; }
  .webform-client-form-27 em {
    color: white; }
  .webform-client-form-27 a {
    color: #7aad3f !important; }
  .webform-client-form-27 label {
    vertical-align: middle;
    font-style: italic; }
  .webform-client-form-27 .webform-component--bottom-text {
    position: absolute;
    bottom: 0;
    margin: 0; }
  .webform-client-form-27 .webform-submit {
    margin: 0px;
    background: #7aad3f;
    border: 0px; }

.form-hidden input,
.form-hidden fieldset,
.form-hidden .webform-component--team-contact-information,
.form-hidden .webform-component--payment,
.form-hidden .webform-component--division-preference {
  display: none; }
.form-hidden .webform-component--drop-off-text {
  display: block; }
.form-hidden #drop-off {
  color: #7aad3f; }
.form-hidden #reg-online {
  color: white; }

.stats {
  font-size: 100px;
  color: #7aad3f;
  font-weight: 300; }

.stats-text p {
  font-size: 18px;
  line-height: 1; }

.view-source {
  font-size: 14px;
  color: #7aad3f !important;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300 !important; }

.front .block h2:after {
  display: none; }

h2,
#block-block-9 h2,
#block-block-4 h2 {
  font-size: 76px;
  line-height: 0.9;
  overflow: hidden;
  margin-bottom: 20px; }
  h2:after,
  #block-block-9 h2:after,
  #block-block-4 h2:after {
    content: url("../images/title-border.png");
    display: block;
    margin-top: -35px; }

#block-block-4 {
  overflow: hidden;
  position: relative; }
  #block-block-4 h2 {
    width: 47%;
    color: #7aad3f; }
  #block-block-4:before {
    content: url("../images/three-stars.png");
    right: 0;
    position: absolute; }
  #block-block-4 .box1 {
    width: 45%;
    float: left; }
  #block-block-4 #circle {
    background: url("../images/green-circle.png") no-repeat;
    text-align: center;
    width: 408px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    bottom: 62px;
    right: 90px; }
    #block-block-4 #circle .stats {
      font-size: 56px; }
    #block-block-4 #circle p {
      position: absolute;
      width: 300px;
      top: 30px;
      left: 50px; }
  #block-block-4 #big-box {
    position: relative;
    min-height: 620px; }
    #block-block-4 #big-box:after {
      content: "";
      background: url("../images/left-green-arrow.png") no-repeat;
      position: absolute;
      display: block;
      top: 515px;
      right: 53%;
      height: 0px;
      height: 91px \9;
      width: 36px; }
  #block-block-4 #middle-statement {
    overflow: hidden;
    clear: left; }
    #block-block-4 #middle-statement img {
      padding: 20px 0px; }
    #block-block-4 #middle-statement p {
      font-size: 30px;
      width: 80%;
      float: right; }
      #block-block-4 #middle-statement p:before, #block-block-4 #middle-statement p:after {
        content: url(../images/greenline-long.png);
        display: block; }
      #block-block-4 #middle-statement p:before {
        margin-bottom: 20px; }
  #block-block-4 #baseball {
    width: 45%;
    float: right;
    width: 480px;
    height: 430px;
    position: relative;
    top: -128px; }
    #block-block-4 #baseball p {
      position: absolute;
      top: 100px;
      width: 300px;
      padding-left: 183px;
      text-align: left;
      padding-top: 17px; }
    #block-block-4 #baseball:before {
      content: url("../images/baseball.png"); }
    #block-block-4 #baseball:after {
      height: 0px;
      height: 246px \9;
      content: "";
      position: absolute;
      top: 290px;
      right: 0px;
      display: block;
      background: url("../images/baseball-arrow.png") no-repeat;
      width: 100px; }

:root #block-block-3 {
  top: 55% \0/IE9;
  left: 50% \0/IE9; }

#block-block-3 {
  position: absolute;
  z-index: 99;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  top: 55%;
  left: 50%;
  left: 22% \9;
  top: 25% \9;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  #block-block-3 h2 {
    color: white;
    font-size: 88px; }

#block-block-5 {
  overflow: hidden;
  position: relative; }
  #block-block-5 .stats {
    font-size: 60px; }
  #block-block-5 #one-in-ten {
    width: 50%;
    float: left; }
    #block-block-5 #one-in-ten p {
      padding-top: 120px;
      font-size: 24px; }
  #block-block-5 .youth-image {
    padding-top: 80px; }
  #block-block-5 #one-in-five {
    float: left;
    width: 67%;
    text-align: center;
    margin-left: 20%;
    margin-top: 0px;
    position: relative; }
    #block-block-5 #one-in-five p {
      font-size: 24px;
      padding-right: 70px; }
    #block-block-5 #one-in-five .stats {
      font-size: 50px; }
  #block-block-5 #one-in-ten:before {
    content: url("../images/white-circles.png");
    position: absolute;
    right: 0px;
    top: 20px; }
  #block-block-5 #one-in-ten:after {
    content: "";
    background: url("../images/white-arrow-kids.png") no-repeat;
    position: absolute;
    right: calc(24% - 6px);
    top: 30px;
    display: block;
    width: 0px;
    height: 0px;
    height: 40px \9;
    width: 500px \9;
    transition: height 2s, width 1s; }
  #block-block-5 #one-in-five:after,
  #block-block-5 #one-in-five:before {
    content: "";
    background: url("../images/arrow-4.png") no-repeat;
    position: absolute;
    left: -184px;
    bottom: -91px;
    display: block; }
  #block-block-5 #one-in-five:before {
    width: 200px;
    height: 131px; }
  #block-block-5 #one-in-five:after {
    top: 199px;
    left: -138px;
    width: 0px;
    height: 0px;
    height: 110px \9;
    width: 600px\9;
    transition: height 2s, width 1s; }
  #block-block-5 #one-in-five:before {
    background: url("../images/ellipses-4.png") no-repeat;
    top: 128px; }
  #block-block-5 #view-more {
    clear: left;
    padding-top: 50px;
    min-height: 164px;
    width: 100%;
    background: url("../images/volleyball_net.png") no-repeat center bottom; }
    #block-block-5 #view-more .green-button {
      margin-top: 85px;
      text-align: center;
      display: none; }
  #block-block-5:after {
    content: url("../images/guitar.png");
    position: absolute;
    right: 0px;
    bottom: 38px; }

.fc-header-title h2 {
  font-size: 32px; }
  .fc-header-title h2:after {
    display: none; }

.date-display-single {
  font-size: 48px; }

.views-field-field-location,
.field-name-field-location {
  font-size: 32px;
  margin-bottom: 20px; }

#block-views-events-block-block {
  background: #7aad3f;
  overflow: hidden;
  text-align: center;
  padding: 50px 0px 30px;
  border-bottom: 1px solid #93bd65; }
  #block-views-events-block-block .view-footer {
    clear: left;
    overflow: hidden; }
    #block-views-events-block-block .view-footer a {
      text-align: center; }
  #block-views-events-block-block .views-row-1 {
    border-right: 1px solid #8ccb35; }
  #block-views-events-block-block .views-row-2 {
    border-left: 1px solid #5f952b; }
  #block-views-events-block-block .view-content {
    max-width: 930px;
    margin: 30px auto 0px;
    overflow: hidden; }
  #block-views-events-block-block h2 {
    color: white; }
  #block-views-events-block-block .calendar_title {
    display: none; }
  #block-views-events-block-block a.green-button {
    max-width: 210px; }
  #block-views-events-block-block .views-row {
    float: left;
    width: 43%;
    padding: 0px 30px; }
  #block-views-events-block-block .moreinfo {
    line-height: 1.2;
    display: block; }
    #block-views-events-block-block .moreinfo > :nth-child(2) {
      font-size: 22px;
      margin-bottom: 20px; }

#block-block-6 h2,
#block-agenda-1 h2,
#block-block-8 h2 {
  font-size: 84px; }

#volunteers {
  background: url(../images/volunteer-background.jpg) no-repeat;
  background-size: cover; }

#block-block-6 {
  max-width: 950px;
  margin: 0px auto;
  padding: 60px 20px; }
  #block-block-6 a.green-button {
    max-width: 193px;
    text-align: left;
    margin: 20px 0px; }

#block-block-7 {
  margin-left: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  #block-block-7 h2 {
    visibility: hidden; }
  #block-block-7 p {
    padding-bottom: 0px; }

#block-block-8 {
  display: none;
  max-width: 600px;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); }
  #block-block-8 h2 {
    color: #7aad3f; }

.overlay {
  position: fixed;
  z-index: 99999999;
  background: white;
  padding: 30px;
  text-align: center;
  top: 65%;
  left: 50%;
  top: 16% \9;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

#green-region {
  background-color: #7aad3f;
  position: relative;
  background-image: url(../images/volleyball_net_green.png);
  background-repeat: no-repeat;
  background-position: center bottom; }
  #green-region .inner-content {
    margin: 0px auto;
    padding: 80px 10px;
    position: relative;
    background: none; }
  #green-region h2 {
    color: white; }

#block-block-10,
.page-node-7 .inner-page-title #page-title,
.inner-page-title #page-title {
  background: url(../images/headerimage2.jpg) no-repeat;
  background-size: cover; }

#block-block-12,
.page-node-9 .inner-page-title #page-title,
.page-events .inner-page-title #page-title {
  background: url(../images/piano.jpg) no-repeat;
  background-size: cover; }

#block-block-11,
.page-stories .inner-page-title #page-title,
.node-type-testimonials .inner-page-title #page-title-stories {
  background: url(../images/hockey.jpg) no-repeat;
  background-size: cover; }

#block-block-13,
.page-node-9 .inner-page-title #page-title,
.page-node-10 .inner-page-title #page-title {
  background: url(../images/kid-playing.jpg) no-repeat;
  background-size: cover; }

#block-block-10,
.inner-page-title #page-title,
.inner-page-title #page-title-stories,
#block-block-11,
#block-block-12,
#block-block-13 {
  background-size: cover;
  text-align: center;
  padding: 150px 0px;
  margin-bottom: 0px;
  font-size: 76pt; }
  #block-block-10 h2,
  .inner-page-title #page-title h2,
  .inner-page-title #page-title-stories h2,
  #block-block-11 h2,
  #block-block-12 h2,
  #block-block-13 h2 {
    color: white;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.3em; }
    #block-block-10 h2:after,
    .inner-page-title #page-title h2:after,
    .inner-page-title #page-title-stories h2:after,
    #block-block-11 h2:after,
    #block-block-12 h2:after,
    #block-block-13 h2:after {
      display: none; }
  #block-block-10 .content,
  .inner-page-title #page-title .content,
  .inner-page-title #page-title-stories .content,
  #block-block-11 .content,
  #block-block-12 .content,
  #block-block-13 .content {
    display: none; }

#block-block-9 h2:after {
  content: url("../images/title-border.png");
  width: 100%; }

#block-block-14 a {
  text-align: center;
  color: white; }

.arrow-animate-1 #baseball:after {
  height: 246px !important;
  transition: height 1s; }

.arrow-animate-2 #big-box:after {
  height: 91px !important;
  transition: height 1s; }

.arrow-animate-3 #one-in-ten:after {
  width: 300px !important;
  height: 50px !important; }

.arrow-animate-4 #one-in-five:after {
  width: 443px !important;
  height: 130px !important; }

#mobile-menu {
  display: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 0px;
  color: transparent;
  background: url(../images/mobile-menu.png) no-repeat;
  background: url(../images/EP-MenuIcon.svg) no-repeat; }

#main-wrapper .block .content p a,
#content .content p a {
  color: white;
  font-weight: 600; }
  #main-wrapper .block .content p a:hover,
  #content .content p a:hover {
    text-decoration: underline; }

#block-block-7.block .content p a,
#block-block-7.block a {
  color: black;
  font-weight: 300; }
  #block-block-7.block .content p a:hover,
  #block-block-7.block a:hover {
    text-decoration: underline; }

#main-navigation ul.menu a#contact.active {
  color: black; }
  #main-navigation ul.menu a#contact.active:hover {
    color: #7aad3f; }

#block-block-16 {
  clear: left;
  color: black;
  text-shadow: none;
  text-align: left;
  max-width: 650px; }

#block-views-random-stats-block {
  display: none; }

#block-block-17 {
  overflow: hidden;
  text-align: center; }
  #block-block-17 div {
    color: black;
    font-weight: 600; }
    #block-block-17 div span {
      padding-bottom: 20px;
      display: block; }
  #block-block-17 p {
    padding-right: 20px;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block; }
  #block-block-17 p:last-child {
    padding-right: 0px; }

@media screen and (max-width: 1220px) {
  .view-stories-slider .view-footer {
    right: 20px; }

  .view-stories-slider .view-header {
    left: 20px; }

  #block-block-3 {
    width: 73%; } }
@media screen and (min-width: 1091px) {
  #block-system-main-menu {
    display: block !important; } }
@media screen and (max-width: 1090px) {
  #block-block-15 {
    right: 20px;
    position: absolute;
    bottom: 20px; }
    #block-block-15 div.contextual-links-wrapper {
      display: none; }

  #mobile-menu {
    display: block; }

  #block-system-main-menu {
    display: none;
    width: auto;
    position: absolute;
    top: 124px;
    right: 0px;
    width: 335px;
    padding-top: 0px;
    background: white;
    padding-bottom: 20px; }
    #block-system-main-menu li.expanded ul.menu {
      display: block;
      position: relative;
      width: auto;
      top: auto; }
      #block-system-main-menu li.expanded ul.menu li a {
        padding-left: 25px; }
    #block-system-main-menu ul.menu {
      float: none; }
      #block-system-main-menu ul.menu li {
        float: none; }
        #block-system-main-menu ul.menu li:after {
          display: none; }
        #block-system-main-menu ul.menu li a {
          padding: 20px 20px;
          display: block;
          text-align: left;
          border-bottom: 1px solid #b3b3b3;
          line-height: initial; }
    #block-system-main-menu .social-icons {
      display: block;
      padding-left: 20px;
      line-height: initial; } }
@media screen and (max-width: 960px) {
  #block-block-6 {
    padding: 70px 20px; }

  #footer-inner {
    padding: 0 20px; }

  #block-block-4 h2 {
    width: 100%; }
  #block-block-4 .box1 {
    float: none;
    width: 100%; }
  #block-block-4 #baseball {
    top: 0px;
    float: none;
    margin: 0 auto; }
    #block-block-4 #baseball:after {
      top: 225px;
      right: -47px; }
  #block-block-4:before {
    display: none; }
  #block-block-4 #circle {
    right: 0px;
    position: relative;
    bottom: 0px;
    float: none;
    margin: 0 auto; }
    #block-block-4 #circle p {
      position: relative; }
  #block-block-4 #middle-statement img {
    display: none; }
  #block-block-4 #middle-statement p {
    width: 90%;
    float: none;
    margin: 0 auto; }

  #big-box:after {
    display: none !important; }

  #one-in-five:after,
  .arrow-animate-4 #one-in-five:after {
    display: none !important; } }
@media screen and (max-width: 920px) {
  #block-block-5 {
    text-align: center; }
    #block-block-5 #one-in-ten:before,
    #block-block-5 #one-in-ten:after {
      display: none; }
    #block-block-5 img {
      float: none !important; }
    #block-block-5 #one-in-ten {
      float: none;
      width: 100%; }
      #block-block-5 #one-in-ten p {
        padding-top: 0px; }
    #block-block-5:after, #block-block-5:before {
      display: none; }
    #block-block-5 #one-in-five:before,
    #block-block-5 #one-in-five:after
    #one-in-ten:after {
      display: none; }

  #block-block-3 h2 {
    font-size: 70px; }

  .logos {
    max-width: 500px;
    margin: 0 auto; }
    .logos p {
      padding-bottom: 20px !important; } }
@media screen and (max-width: 875px) {
  #block-views-events-block-block .agenda-block {
    max-width: 730px;
    margin: 0 auto; }
  #block-views-events-block-block .views-row {
    padding: 0 30px;
    width: 42%; }

  .rows-inner {
    padding: 0 40px; }

  #block-webform-client-block-6 {
    width: 65%; }

  #block-block-7 {
    width: 28%;
    margin-left: 30px; }

  .view-stories-slider .view-footer {
    right: 10px;
    background-position: right; }

  .view-stories-slider .view-header {
    left: 10px; }

  .field-name-field-image-stories {
    float: none;
    margin: 20px auto; }

  .node-type-testimonials .field-name-body {
    width: 100%; }

  #block-block-17 p {
    padding-right: 20px; } }
@media screen and (max-width: 767px) {
  .view-header-slider .views-row {
    min-height: 650px; }
  .view-header-slider .views-field-body {
    max-width: 300px; }
    .view-header-slider .views-field-body img {
      width: 300px !important;
      height: auto !important; }

  #header {
    position: relative; }

  #banner {
    padding-top: 0px; }

  #block-block-4 #big-box {
    min-height: 100px; }

  #block-views-random-stats-block {
    display: block;
    text-align: center;
    padding-bottom: 40px; }
    #block-views-random-stats-block .views-field-title {
      font-size: 48px; }
    #block-views-random-stats-block h2 {
      color: #7aad3f;
      margin-bottom: 10px; }
    #block-views-random-stats-block h4 {
      font-family: 'lato' , sans-serif;
      font-style: italic; }

  #baseball {
    display: none; }

  #block-views-events-block-block .views-row {
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px; }
  #block-views-events-block-block .view-content {
    padding: 0 10px; }
    #block-views-events-block-block .view-content .views-row-2 {
      border-top: 1px solid #5f952b;
      border-left: 0px;
      padding-top: 20px; }
    #block-views-events-block-block .view-content .views-row-1 {
      border-bottom: 1px solid #8ccb35;
      border-right: 0px;
      padding-bottom: 20px; }

  #block-block-3 {
    width: 60%; }
    #block-block-3 h2 {
      font-size: 70px; }

  .view-header-slider .view-header {
    left: 10px; }

  .view-header-slider .view-footer {
    right: 10px;
    background-position: right; }

  .view-header-slider .view-header,
  .view-header-slider .view-footer {
    background-size: 80%; }
    .view-header-slider .view-header a,
    .view-header-slider .view-footer a {
      height: 50px;
      width: 50px; }

  #block-block-4 #baseball {
    width: 320px;
    height: 320px; }
    #block-block-4 #baseball:before {
      background: url("../images/baseball.png") no-repeat;
      content: "";
      display: block;
      width: 320px;
      height: 400px;
      background-size: 100%; }
    #block-block-4 #baseball .stats {
      font-size: 75px; }
    #block-block-4 #baseball p {
      position: absolute;
      top: 100px;
      width: 187px;
      padding-left: 115px;
      top: 41px;
      font-size: 15px; }
    #block-block-4 #baseball:after {
      display: none; }

  .view-stories-slider .view-header {
    left: 10px; }

  .view-stories-slider .view-footer {
    right: 10px;
    background-position: center right; }

  #circle,
  #middle-statement,
  #block-block-5 {
    display: none; }

  #block-webform-client-block-6 {
    float: none;
    width: 100%; }
    #block-webform-client-block-6 .content {
      border-right: 0px; }

  #block-block-7 {
    width: 50%;
    padding: 20px 0px 0 0px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 0px; }
    #block-block-7 h2 {
      display: none; }

  h2:after,
  #block-block-9 h2:after,
  #block-block-4 h2:after,
  #page-title:after,
  #page-title-stories:after {
    margin-top: -20px; } }
@media screen and (max-width: 723px) {
  .webform-client-form-27 {
    padding-bottom: 160px; } }
@media screen and (max-width: 500px) {
  .image-list {
    margin-bottom: 10px; }

  .not-front #content {
    background: url("../images/main_back1.png") repeat;
    background-size: initial; }

  .region-black-region {
    padding: 60px 10px 0px;
    background: url("../images/volleyball_net.png") no-repeat;
    background-position: center bottom;
    background-size: 95%; }

  .view-stories .info-box {
    width: 100%; }

  #block-system-main-menu {
    width: 308px; }

  #block-block-4 #baseball:before {
    background-size: 87%; }
  #block-block-4 #baseball .stats {
    font-size: 75px; }
  #block-block-4 #baseball p {
    padding-left: 93px;
    top: -5px; }

  #green-region .inner-content,
  #block-block-6 {
    padding: 60px 10px; }

  #footer-inner {
    padding: 0 10px;
    margin: 60px auto; }

  h2,
  #block-block-4 h2,
  #page-title,
  #page-title-stories,
  #block-block-6 h2,
  #block-agenda-1 h2,
  #block-block-8 h2,
  #block-webform-client-block-6 h2,
  #block-block-7 h2,
  #block-block-9 h2 {
    font-size: 48px; }

  #block-block-7 {
    width: 80%; }

  #block-block-8 {
    width: 70%; }

  #block-block-3 {
    top: 48%; }

  .fc-header-left,
  .fc-header-center,
  .fc-header-right {
    display: block; }

  .fc-header-center {
    margin-top: 20px;
    text-align: left; }

  .inner-content {
    background-size: 95%;
    padding: 60px 10px; }

  #black-region,
  #content {
    background-position: center; }

  .inner-content h2 {
    font-size: 42px; }

  .page-node-10 .inner-page-title #page-title,
  .page-node-9 .inner-page-title #page-title,
  .page-node-7 .inner-page-title #page-title,
  .page-stories .inner-page-title #page-title,
  .node-type-testimonials .inner-page-title #page-title-stories,
  .inner-page-title #page-title,
  .page-events .inner-page-title #page-title,
  .inner-page-title #page-title-stories {
    font-size: 54px;
    background-position: 50%; }

  #block-block-17 {
    color: black; }
    #block-block-17 p {
      display: block;
      padding-right: 0px;
      padding-bottom: 30px; }
    #block-block-17 p:last-child {
      padding-bottom: 0px; }

  .view-stories .image-list {
    float: none; } }
